/*CSS Code for Desktop Mode with Width > 1024px*/

html{
  font-size: 18px;
}

body{
  font-family: "Helvetica";
  background-color: black;
  color: white;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*Header*/
header{
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img{
  height: 1.5rem;
  background-size: cover;
  margin: 0rem 0.5rem;
}

header h3{
  width: 70%;
  font-size: 1rem;
  margin: 0;
}

/*Main Banner*/
.banner{
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
}

.letters{
  width: 20rem;         /*Specs dicen 20rem*/
  top: 9rem;
  padding: 2rem 3rem;
  background-color: black;
  position: relative;
}

.letters h3{
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.letters h1{
  font-weight: bold;
  font-size: 2rem;
  margin: 0.25rem 0;
  line-height: 1.2;
}

/*Navigation*/
.navigation{
  background-color: firebrick;
  padding: 0.75rem 0rem;
  margin: 0;
  width: 100%;
}

.navigation  ul{
  display: flex;
  justify-content: space-between;
}

.tablet{
  display: none;
}

/*Products*/
.products{
  background-color: white;
}

.grid{
  display: flex;
  justify-content: space-between;
}

.product{
  width: 30%;
  margin: 3rem 0rem;
  border: 4px solid black;
}

.image{
  margin: 2rem;
  max-width: 80%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image img{
  max-width: 8rem;
  max-height: 9rem;
}

.product h5{
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0rem;
}

/*Location and Hours*/
.infoBackground{
  background-color: white;
  padding-bottom: 4rem;
}

.info{
  display: flex;
  justify-content: space-between;
}

.infobox{
  width: 35%;
  text-align: left;
  background-color: black;
}

.infobox h5{
  width: 50%;
  margin: 0;
  padding: 1rem 2rem;
}

.infobox p{
  background-color: white;
  color: black;
}

/*Footer*/
footer{
  padding: 5rem 0;
  width: 100%;
}

/*Tablet Mode Width < 1024 px*/
@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }

  /*Navigation*/
  .navigation  ul{
    justify-content: center;
  }

  .tablet{
    display: block;
  }

  .desktop{
    display: none;
  }

  /*Products*/
  .product{
    width: 47%;
  }

  .glasses{
    display: none;
  }
}

/*Phone Screen Width > 480px*/
@media only screen and (max-width: 480px){
  /*Main Banner*/
  .banner{
    height: 15rem;
  }

  .letters{
    width: 100%;
    top: 10rem;
    padding : 1rem 0rem 0rem 0rem;
  }

  .letters h3{
    font-size: 0.77rem;
    width: 80%;
    padding-left:2rem;
  }

  .letters h1{
    font-size: 1rem;
    padding: 0rem 0rem 1rem 0rem;
    width: 80%;
    padding-left:2rem;
  }

  /*Products*/
  .product{
    width: 90%;
  }

  .grid{
    justify-content: center;
  }

  .watch,
  .glasses{
    display: none;
  }

  /*Information*/
  .info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infobox{
    width: 90%;
    margin: 0.5rem 0rem;
  }

  /*Footer*/
  footer{
    text-align: center;
  }
}
